.text-input {
  .title {
    font-size: var(--fz-300);
  }

  .box {
    color: var(--color-border);

    display: flex;
    align-items: center;
    gap: 0.5rem;

    padding: 0.5rem;

    border: 1px solid currentColor;
    border-radius: 0.25rem;

    input {
      flex: 1 1 0;

      background-color: var(--color-surface-300);
      color: inherit;

      block-size: 1em;

      border: none;

      font-size: 1rem;
      line-height: 1;

      &:focus {
        outline: none;
      }
    }

    .suffix {
      display: grid;

      font-size: 1.25rem;
    }
  }

  &:where(:has(input:not(:placeholder-shown))) {
    .box {
      color: var(--color-text-400);
    }
  }

  &:focus-within {
    .box {
      color: var(--color-primary);
    }
  }
}
