.tag-filter {
  background-color: var(--color-surface-elevated);
  box-shadow: var(--shadow);

  display: grid;
  gap: 0.5rem;

  .title {
    padding: 0.5rem;

    font-size: var(--fz-500);
    font-weight: 700;
  }

  > ul {
    overflow: auto;

    max-block-size: 30rem;

    > li {
      padding: 0.5rem;

      &:hover {
        background-color: var(--color-primary-fade);

        cursor: pointer;
      }

      &.selected {
        background-color: var(--color-primary);
      }
    }
  }
}
